*{
    margin:0;
    padding: 0;
}
body{
    background: #FFE5DF; 
    font-size: 14px; 
    font-family: "Poppins", sans-serif; 
}
.container {
    width: 80%; 
    margin: 50px auto; 
}
/* style for the contact-box includes the left and right section  */
.contact-box{
    background: #ffffff; 
    display: flex;  
}

/* style for the left column */
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px; 
}

/* style for the right column */
.contact-right{
    flex-basis: 40%;
    padding: 40px; 
    background: #CE3E1B; 
    color: #ffffff;
}

/* add margin-bottom for the Contact with Us  */
h1{
    margin-bottom: 10px; 
}

.container p{
    margin-bottom: 40px; 
}
.input-row{
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 20px; 
}
.input-row .input-group{
    flex-basis: 45%; 
}
input{
    width: 100%; 
    border: none; 
    border-bottom: 1px solid #ccc; 
    outline: none; 
    padding-bottom: 5px; 
}

/* let the box be in the same line with the subject section */
textarea{
    width: 100%; 
    border: 1px solid #ccc; 
    outline: none; 
    padding: 10px; 
    box-sizing: border-box; 
}
/* change the color of the label of Name, Phone, Email, Subject and Message  */
label {
    margin-bottom: 6px; 
    display: block; 
    color: #CE3E1B; 
}
/* change style for the CTA btn */
button{
    background: #CE3E1B; 
    width: 100px; 
    border: none; 
    outline: none; 
    color: #fff; 
    height: 35px; 
    border-radius: 30px; 
    margin-top: 20px; 
    box-shadow: 0px 5px 15px 0px #E3826A; 
}
/* add style for the Send Your Resquest  */
.contact-left h3{
    color: #CE3E1B; 
    font-weight: 600; 
    margin-bottom: 30px; 
}
.contact-right h3{
    font-weight: 600; 
    margin-bottom: 30px; 
}
/* add layout for the content inside Reach Us section */
tr td:first-child{
    padding-right: 20px; 
}
tr td{
    padding-top: 20px; 
}

@media screen and (max-width: 1000px){
    .contact-box{
        display: flex; 
        flex-direction: row; 
    }
}

@media screen and (max-width: 768px){
    .contact-box{
        display: flex; 
        flex-direction: column; 
    }
}