/* HEADER STARTS */

.header{
margin-left: 5rem;
margin-right:5rem;
}

.header .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header .container .menu{
  display: flex;
  flex-direction: row;
  gap: 6rem;
  align-items: center;
}

.header .container .menu a{
  color: black;
  font-size: 1.25rem;
  font-weight: 400;
}

.header-logo{
  height: 4.75rem;
}

/* HEADER ENDS */

/* MAIN BODY STARTS */

/* MAIN BODY ENDS */



/* CSS FOR THE CONTACT US PAGE */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */

.contact {
  position: relative; 
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}